/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

/* HEADER */
header {
    height: 80px;
    text-align: right;
}
.header-icon {
    background-color: #4a4a4a;
    padding: 4px 7px;
    border-radius: 5px;
    display: inline-block;
}

/* MAIN */
main {
    height: calc( 100vh - 180px );
    overflow-y: auto;
}
.partecipants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partecipant {
    margin: 5px;
    position: relative;

    /* TEST */
    background-color: lightblue;
}
.partecipant-info {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-icons {
    display: flex;
    align-items: center;
}
.footer-icons li {
    margin: 0 7px;
    text-align: center;
}
.green i {
    color: green;
}

.end-meeting {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: red;
}